* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    margin: 3px;
    padding: 3px;
}

h1, p {
    margin: 20px;
    padding: 20px;
}

button{
    padding: 1em 2.5em;
    font-weight: 700;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 3;
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgba(25, 60, 50, 0.3);
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: white;
    background-color: slategray;
}

/* em */
.em {
    font-size: 1em;
}

.em h1{
    font-size: 2.5em;
    
}

.em p{
    font-size: 1em;
}

/* rem */
.rem {
    font-size: 1rem;
}

.rem h1{
    font-size: 2.5rem;
}

.rem p{
    font-size: 1rem;
}

/* buttons */
#btn-em {
    font-size: 1em;
}

#btn-rem {
    font-size: 1rem;
}