* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: #23424A;
    color: white;
    padding: 50px 50px 150px 50px;

    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.content {
    width: 50%;
}