* { box-sizing: border-box; }

body {
    margin:0;
}

.parent {
    background-color: blue;
    padding: 50px;

    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.child{
    background-color: cyan;
    height: 250px;
    width: 80%;
    margin: 0 auto;
}